h1 {
  font-family: "Bungee Spice", cursive;
}

body {
  margin: 0;
  padding: 0;
  background: url("../public/city.jpg") center/cover fixed no-repeat;
}

.cityform-header {
  display: flex;
}

.pill-btn {
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
  line-height: 24px;
  background: #f8a530;
  padding: 0px 30px;
  border-radius: 999em;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  vertical-align: bottom;
  white-space: nowrap;
  border: 3px solid #f8a530;
  font-family: lato;
  letter-spacing: 2px;
  transition: 0.15s background-color, 0.15s border-color, 0.15s color,
    0.15s fill;
  font-weight: 600;
}
.pill-btn:hover {
  background: #f8ae30;
  border: 3px solid #f8c930;
}

.cityform {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

.map-weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.weather-data {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies-container {
  text-align: center; /* Center the heading */
}

.modal {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  outline: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
